{% extends 'base.html' %}
{% load static %}

{% block title_postfix %} - Portfolio{% endblock %}

{% block header_anchors %}
<li><a href="#projects">Projects</a></li>
{% if testimonials %}<li><a href="#testimonials">Testimonials</a></li>{% endif %}
<li><a href="#contact">Contact</a></li>
{% endblock %}

{% block content %}

<section id="eyecatch">
    <div class="content">
        <h2>Hubert Maraszek</h2>
        <p class="arrow">↓</p>
        <p>I make pleasing visuals</p>
        <p class="arrow">↓</p>
        <p>and delightful interfaces.</p>
    </div>
</section>

<section id="projects" class="headered">
    <div class="header">
        <h2>My projects</h2>
    </div>
    <div class="content">
        <article>
            <img src="{% static 'images/minote.webp' %}" alt="Screenshot of Minote rendering a test scene">
            <div class="description">
                <h3>Minote</h3>
                <p>
                    A personal experimental renderer project. Written in C++ and
                    <a href="https://en.wikipedia.org/wiki/OpenGL_Shading_Language" rel="external noopener" target="_blank">GLSL</a>,
                    using
                    <a href="https://www.vulkan.org" rel="external noopener" target="_blank">Vulkan</a>
                    for graphics via the
                    <a href="https://github.com/martty/vuk" rel="external noopener" target="_blank">vuk</a>
                    library. Renders high triangle counts using
                    <a href="https://jcgt.org/published/0002/02/04/" rel="external noopener" target="_blank">visibility buffer</a>
                    and
                    <a href="https://developer.nvidia.com/blog/introduction-turing-mesh-shaders/" rel="external noopener" target="_blank">meshlets</a>
                    via
                    <a href="https://tellusim.com/mesh-shader-emulation/" rel="external noopener" target="_blank">mesh shader emulation</a>.
                    The image is antialiased using a
                    <a href="http://filmicworlds.com/blog/decoupled-visibility-multisampling/" rel="external noopener" target="_blank">custom solution</a>
                    that temporally amortizes MSAA resolve.
                </p>
                <p class="links">
                    <a href="https://github.com/Tearnote/Minote/" rel="external noopener" target="_blank">Sources</a>
                </p>
            </div>
        </article>
        <article>
            <img src="{% static 'images/gamecraft.webp' %}" alt="Screenshot of the Gamecraft website">
            <div class="description">
                <h3>Gamecraft</h3>
                <p>
                    A static website for a fictional videogame creation program.
                    Plain HTML5 and CSS3, without frameworks. No Javascript, aside
                    from an inline one-liner to trigger audio playback. Fully
                    responsive layout, with
                    <a href="https://github.com/Tearnote/gamecraft-website/blob/main/doc/TESTING.md#validation" rel="external noopener" target="_blank">validated</a>
                    and semantic markup.
                </p>
                <p class="links">
                    <a href="https://github.com/Tearnote/gamecraft-website" rel="external noopener" target="_blank">Sources</a>,
                    <a href="https://tearnote.github.io/gamecraft-website/" rel="external noopener" target="_blank">Live version</a>
                </p>
            </div>
        </article>
        <article>
            <img src="{% static 'images/village-of-chaos.webp' %}" alt="Screenshot of the browser game Village of Chaos">
            <div class="description">
                <h3>Village of Chaos</h3>
                <p>
                    An
                    <a href="https://en.wikipedia.org/wiki/Incremental_game" rel="external noopener" target="_blank">incremental</a>
                    (idle) browser game about managing a small village, with the
                    ultimate goal of unraveling the mystery of a distant monolith.
                    Written in pure HTML5, CSS3 and ES6 Javascript,
                    <a href="http://vanilla-js.com" rel="external noopener" target="_blank">without</a>
                    libraries of frameworks. Features media queries to switch
                    between desktop and mobile layouts, and uses a
                    <a href="https://developer.mozilla.org/en-US/docs/Web/Manifest" rel="external noopener" target="_blank">WebManifest</a>
                    to allow installation as an app on a mobile device.
                </p>
                <p class="links">
                    <a href="https://github.com/Tearnote/village-of-chaos" rel="external noopener" target="_blank">Sources</a>,
                    <a href="https://tearnote.github.io/village-of-chaos/" rel="external noopener" target="_blank">Live version</a>
                </p>
            </div>
        </article>
    </div>
</section>

<section id="contact" class="headered">
    <div class="header">
        <h2>Contact me</h2>
    </div>
    <div class="content">
        <p>
            If you would like to commission me for a project, you can use the
            built-in request system! To get started,
            <a href="{% url 'account_signup' %}">sign up here</a>. Your data
            will only be used for commission management purposes.
        </p>
        <p>
            For any other inquiries, feel free to use the
            <a href="{% url 'contact' %}">contact form</a> to send me a message.
        </p>
    </div>
</section>

{% if testimonials %}
    <section id="testimonials" class="headered">
        <div class="header">
            <h2>Testimonials</h2>
        </div>
        <div class="content">
            {% for testimonial in testimonials %}
                {% include 'projects/includes/testimonial.html' with testimonial=testimonial %}
            {% endfor %}
        </div>
    </section>
{% endif %}

<section id="newsletter">
    <h2>Newsletter</h2>
    <p>
        Subscribe to updates in commission service availability. You will not
        receive any promotional emails.
    </p>

    {# Code generated by Mailchimp form builder #}
    <div id="newsletter-form">
        <form action="https://moe.us13.list-manage.com/subscribe/post?u=73a278a88c9322eb1fdadc6bd&amp;id=ce352ce2ad&amp;f_id=0074ace2f0" method="post" name="mc-embedded-subscribe-form" target="_self">
            <div>
                <label for="mce-EMAIL">Email Address</label>
                <input type="email" name="EMAIL" id="mce-EMAIL" required>
            </div>
            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                {# Real people should not fill this in and expect good things - do not remove this or risk form bot signups #}
                <input type="text" name="b_73a278a88c9322eb1fdadc6bd_ce352ce2ad" tabindex="-1" value="">
            </div>
            <input type="submit" name="subscribe" value="Subscribe">
        </form>
    </div>
    {# End of generated code #}

</section>

{% endblock %}
