{% extends 'base.html' %}

{% block title_postfix %} - Terms of service{% endblock %}

{% block content %}

<section class="small">
    <div class="content">
        <p>Last updated: May 16, 2023</p>
        <h2>Overview</h2>
        <p>
            These terms detail the obligations of the website as a service
            provider, and website users as clients.
        </p>
        <p>
            In broad terms, the service provider provides a commissioning
            service, allowing clients to request work from the service
            provider in exchange for compensation.
        </p>
        <p>
            Records on this website do not constitute a form of contract.
            A contract between service provider and client will be signed
            separately via direct email communication as part of standard
            procedure.
        </p>
        <h2>Service provider's conduct</h2>
        <p>
            The service provider is obliged to respond to client requests.
            Requests will be validated and discussed out-of-band, via
            direct email communication.
        </p>
        <p>
            Once a request is accepted and paid for, the service provider
            will provide timely updates on commission progress, and will
            continue to be responsive to the client's opinions and requests
            for minor alterations.
        </p>
        <p>
            Note that the terms in this document are not legally binding,
            and only constitute a good-will agreement. The document does
            not mean to replace or supersede any legal agreements made
            between service provider and client.
        </p>
        <h2>Client's conduct</h2>
        <p>
            The client must use the website for its intended purpose. The
            contact functionality must not be abused for queries not
            related to the service being provided. Requested commissions
            must also be relevant to the skillset demonstrated via project
            showcase on the frontpage.
        </p>
        <p>
            Any attempt to gain unauthorized access to administrative
            features, or making use of any clearly unintended functionality
            such as bugs and exploits, gives the service provider the right
            to block the client's access to the website permanently.
        </p>
    </div>
</section>

{% endblock %}
