/* region Global styles */

body {
    display: flex;
    flex-flow: column;
}

/* endregion */

/* region Header */

header > nav {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

header > nav > ul {
    display: flex;
    flex-flow: row;
    padding-left: 0;
}

header > nav > ul > li {
    list-style: none;
    padding: 1rem;
}

/* endregion */

/* region Footer */

footer {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding: 2rem 0;
}

footer > ul {
    padding-left: 0;
}

footer > ul > li {
    list-style: none;
}

/* endregion */
