[Unit]
Description=Portfolio Django webapp
After=network.target

[Service]
Type=simple
User=web
Group=web
ExecStart=/srv/http/collec/venv/bin/gunicorn --chdir /srv/http/portfolio -c /srv/http/portfolio/gunicorn.conf.py portfolio.wsgi

[Install]
WantedBy=multi-user.target
