{% extends 'base.html' %}

{% load account %}

{% block title_postfix %} - Email confirmation{% endblock %}

{% block content %}
    <section class="headered small">
    <div class="header">
        <h2>Email confirmation</h2>
    </div>
    <div class="content">
        {% if confirmation %}

            {% user_display confirmation.email_address.user as user_display %}
            <p>
                Please confirm that <a href="mailto:{{ confirmation.email_address.email }}">
                {{ confirmation.email_address.email }}</a> is the right e-mail address for user
                {{ user_display }}.
            </p>
            <form method="POST" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <input type="submit" value="Confirm">
            </form>

        {% else %}

            {% url 'account_email' as email_url %}
            <p>
                This e-mail confirmation link expired or is invalid. Please
                <a href="{% url 'account_login' %}">sign in</a> again to generate
                a new one.
            </p>

        {% endif %}
    </div>
</section>

{% endblock %}
