{% extends 'base.html' %}

{% block title_postfix %} - Sign out{% endblock %}

{% block content %}

<section class="headered reverse small">
<div class="header">
    <h2>Sign out</h2>
</div>
    <div class="content">
        <p>Are you sure you want to sign out?</p>
        <form method="POST" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <input type="submit" value="Sign out">
        </form>
    </div>
</section>

{% endblock %}
