{% extends 'base.html' %}

{% block title_postfix %} - Sign up{% endblock %}

{% block content %}

<section class="headered small">
    <div class="header">
        <h2>Sign up</h2>
    </div>
    <div class="content">
        <p>
            Sign up to create commissions and discuss project ideas. This will
            <em>not</em> result in signing up to our mailing list, which sends
            ongoing updates on service availability. If you wish to sing up to
            the newsletter, you can do so on the
            <a href="{% url 'home' %}#newsletter">front page</a>.
        </p>
        <p>
            Already have an account? You can
            sign in <a href="{{ login_url }}">here</a>.
        </p>
        <form class="login" method="POST" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_div }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="actions">
                <input type="submit" value="Sign up">
            </div>
        </form>
    </div>
</section>

{% endblock %}
