{% extends "base.html" %}

{% block title_postfix %} - Email verification{% endblock %}

{% block content %}

<section class="headered small">
    <div class="header">
        <h2>Email verification</h2>
    </div>
    <div class="content">
        <p>
            We have sent an e-mail to you for verification. Follow the link
            provided to finalize the signup process. If you do not see the
            verification e-mail in your main inbox, check your spam folder.
        </p>
    </div>
</section>

{% endblock %}
