<div class="project">
    <p>{{ project.name }}</p>
    <p>Description: {{ project.description }}</p>
    <p>Reference code: {{ project.uuid }}</p>
    <p>
        {# The if needs to be on the same line to avoid a space before the comma #}
        Status: {{ project.get_status_display }}{% if project.status == project.PAYABLE %},
            &euro;{{ project.quote_amount }}
        {% endif %}
    </p>
    <div class="actions">
        {% if is_owner %}

            {# Owner dashboard controls #}
            {% if project.status == project.NEW %}
                <form method="POST" action="{% url 'quote_project' %}">
                    {% csrf_token %}
                    <input type="hidden" name="projectId" value="{{ project.id }}">
                    <label>
                        Amount:
                        <input type="number" name="quoteAmount">
                    </label>
                    <input type="submit" value="Set quote" onclick="confirmProjectQuote(event)">
                </form>
                <form method="POST" action="{% url 'reject_project' %}">
                    {% csrf_token %}
                    <input type="hidden" name="projectId" value="{{ project.id }}">
                    <input type="submit" value="Reject" onclick="confirmProjectReject(event)">
                </form>
            {% endif %}
            {% if project.status == project.PAYABLE or project.status == project.IN_PROGRESS %}
                <form method="POST" action="{% url 'cancel_project' %}">
                    {% csrf_token %}
                    <input type="hidden" name="projectId" value="{{ project.id }}">
                    <input type="submit" value="Cancel" onclick="confirmProjectCancel(event)">
                </form>
            {% endif %}
            {% if project.status == project.IN_PROGRESS %}
                <form method="POST" action="{% url 'complete_project' %}">
                    {% csrf_token %}
                    <input type="hidden" name="projectId" value="{{ project.id }}">
                    <input type="submit" value="Mark completed" onclick="confirmProjectComplete(event)">
                </form>
            {% endif %}

        {% else %}

            {# User dashboard controls #}
            {% if project.status == project.PAYABLE %}
                <a role="button" href="{% url 'checkout' %}">Pay now</a>
            {% endif %}
            {% if project.status == project.NEW or project.status == project.PAYABLE %}
                <form method="POST" action="{% url 'cancel_project' %}">
                    {% csrf_token %}
                    <input type="hidden" name="projectId" value="{{ project.id }}">
                    <input type="submit" value="Cancel" onclick="confirmProjectCancel(event)">
                </form>
            {% endif %}
            {% if project.status == project.COMPLETED and not project.testimonial %}
                <a role="button" href="{% url 'new_testimonial' project_id=project.id %}">Leave testimonial</a>
            {% endif %}

        {% endif %}
    </div>
</div>

{# Basic confirmation dialog scripts #}
<script>
    function confirmProjectCancel(event) {
        if (!confirm(
            "Are you sure you want to cancel the project?" +
            " The effect is immediate and cannot be undone."
        ))
            event.preventDefault();
    }
    function confirmProjectReject(event) {
        if (!confirm(
            "Are you sure you want to reject the project?" +
            " The effect is immediate and cannot be undone."
        ))
            event.preventDefault();
    }
    function confirmProjectComplete(event) {
        if (!confirm(
            "Are you sure you want to mark the project as completed?" +
            " The effect is immediate and cannot be undone."
        ))
            event.preventDefault();
    }
    function confirmProjectQuote(event) {
        if (!confirm(
            "Are you sure you want to submit the quote?" +
            " The effect is immediate and cannot be undone."
        ))
            event.preventDefault();
    }
</script>
