{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hubert Maraszek{% block title_postfix %}{% endblock %}</title>

    {% if debug %}
        <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://js.stripe.com/v3/" defer></script>
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% block header_anchors %}{% endblock %}
            {% if user.is_authenticated %}
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            {% endif %}
        </ul>
        <ul>
            {% if user.is_authenticated %}
                <li><p>Signed in as {{ user }}</p></li>
                <li><a href={% url 'profile' %}>User settings</a></li>
                <li><a href="{% url 'account_logout' %}">Sign out</a></li>
            {% else %}
                <li><a href="{% url 'account_login' %}">Sign in</a></li>
                <li><a href="{% url 'account_signup' %}">Sign up</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

{% block content %}{% endblock %}

<footer>
    <small>&copy;{% now 'Y' %} Hubert Maraszek</small>
    <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#" rel="license">Terms of Service</a></li>
    </ul>
</footer>

</body>
</html>
