{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hubert Maraszek{% block title_postfix %}{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Expletus+Sans:wght@600&display=swap" rel="stylesheet">

    {% if debug %}
        <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://js.stripe.com/v3/" defer></script>
</head>
<body>

<header>
    <nav>
        <input class="burger-toggle" type="checkbox" />
        <div class="burger-icon"></div>
        <ul class="anchors">
            <li><a href="{% url 'home' %}">Home</a></li>
            {% block header_anchors %}{% endblock %}
            {% if user.is_authenticated %}
                <li><a class="highlight" href="{% url 'dashboard' %}">Dashboard</a></li>
            {% endif %}
        </ul>
        <ul>
            {% if user.is_authenticated %}
                <li class="username">Signed in as {{ user }}</li>
                {% if not user.is_staff %}
                    <li><a class="highlight" href={% url 'profile' %}>User settings</a></li>
                {% endif %}
                <li><a href="{% url 'account_logout' %}">Sign out</a></li>
            {% else %}
                <li><a href="{% url 'account_login' %}">Sign in</a></li>
                <li><a class="highlight" href="{% url 'account_signup' %}">Sign up</a></li>
            {% endif %}
        </ul>
    </nav>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <div class="cross" onclick="messageClose(event)">✕</div>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        </div>
        <script>
            function messageClose(e) {
                e.currentTarget.parentElement.remove();
            }
            document.addEventListener("DOMContentLoaded", function() {
                setTimeout(function() {
                    let messages = document.getElementsByClassName("messages")[0];
                    messages.remove();
                }, 4000);
            });
        </script>
    {% endif %}
</header>

<main>
    {% block pre_content %}{% endblock %} {# For the purpose of allauth default templates #}
    {% block content %}{% endblock %}
    {% block post_content %}{% endblock %} {# For the purpose of allauth default templates #}
</main>

<footer>
    <small>&copy;{% now 'Y' %} Hubert Maraszek</small>
    <ul>
        <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
        <li><a href="#" rel="license">Terms of Service</a></li>
    </ul>
</footer>

<script>
    document.addEventListener("scroll", function(e) {
        const headerHeight = document.getElementsByTagName("header")[0].offsetHeight;
        let sections = document.querySelectorAll("section.headered");
        for (let section of sections) {
            let header = section.querySelector(".header");
            let heading = section.querySelector("h2");
            const headerOffset = parseInt(getComputedStyle(header).getPropertyValue("top"), 10);
            const minOffset = headerHeight + headerOffset;
            if (section.getBoundingClientRect().top < minOffset)
                heading.classList.add("fixed");
            else
                heading.classList.remove("fixed");
        }
    });
</script>

</body>
</html>
